<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Rwiki</title>

    <script type="text/javascript" src="/ext-4.0/ext-all-debug.js"></script>
    <link rel="stylesheet" type="text/css" href="/ext-4.0/resources/css/ext-all.css">

    <script type="text/javascript" src="/javascripts/app/model/Page.js"></script>
    <script type="text/javascript" src="/javascripts/app/model/PageNode.js"></script>
    <script type="text/javascript" src="/javascripts/app/store/Pages.js"></script>
    <script type="text/javascript" src="/javascripts/app/store/PageNodes.js"></script>

    <script type="text/javascript" src="/javascripts/app/view/tab/PageTab.js"></script>
    <script type="text/javascript" src="/javascripts/app/view/tab/Toolbar.js"></script>
    <script type="text/javascript" src="/javascripts/app/view/tab/TabPanel.js"></script>
    <script type="text/javascript" src="/javascripts/app/view/tree/TreeNodeMenu.js"></script>
    <script type="text/javascript" src="/javascripts/app/view/tree/TreePanel.js"></script>
    <script type="text/javascript" src="/javascripts/app/view/Viewport.js"></script>

    <script type="text/javascript" src="/javascripts/app/controller/tab/PageTab.js"></script>
    <script type="text/javascript" src="/javascripts/app/controller/tab/Toolbar.js"></script>
    <script type="text/javascript" src="/javascripts/app/controller/tab/TabPanel.js"></script>
    <script type="text/javascript" src="/javascripts/app/controller/tree/TreeNodeMenu.js"></script>
    <script type="text/javascript" src="/javascripts/app/controller/tree/TreePanel.js"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <body>
  </body>
</html>
