<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Rwiki</title>

    <script type="text/javascript" src="/ext-4.0/ext-all-debug.js"></script>
    <link rel="stylesheet" type="text/css" href="/ext-4.0/resources/css/ext-all.css">

    <script type="text/javascript" src="<%= asset_path('application.js') %>"></script>
    <link rel="stylesheet" type="text/css" href="<%= asset_path('style.css') %>">
  </head>

  <body>
  </body>
</html>
